/* 헤더 영역 */
.header {
}
.header h1 {
  margin-top: 50px;
  float: left;
}
.header h2 {
  padding: 0px 8px 5px 0;
  display: inline-block;
  margin-left: 200px;
  margin-top: 20px;
  width: 500px;
  font-size: 45px;
}
.header h3 {
  display: block;
  position: absolute;
  left: 350px;
  top: 45px;
  width: 400px;
  font-size: 17px;
}

#artist {
  border-collapse: collapse;
  font-size: 15px;
  margin-left: 250px;
  float: left;
}
#artist th {
  padding: 10px;
  color: rgb(0, 0, 50);
  border-bottom: 3px solid #168;
  text-align: left;
}
#artist td {
  color: #669;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
#artist tr:hover td {
  color: #004;
}
#track {
  border-collapse: collapse;
  font-size: 15px;
  margin-left: 700px;
}
#track th {
  padding: 10px;
  color: rgb(0, 0, 50);
  border-bottom: 3px solid #168;
  text-align: left;
}
#track td {
  color: #669;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
#track tr:hover td {
  color: #004;
}
caption {
  font-size: 30px;
  margin-bottom: 30px;
}
