#artist {
  font-size: 20px;
  margin: 0;
  position: absolute;
  left: 10%;
  text-align: center;
}
#track {
  font-size: 20px;
  margin: 0;
  position: absolute;
  left: 40%;
  text-align: center;
}
caption {
  font-size: 30px;
  margin-bottom: 30px;
}
