@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Water+Brush&display=swap");

/* 레이아웃 */
#header {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid #c6c6c6;
  background: rgba(0, 0, 0, 0);
}

/* 가운데 영역 */
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
}

/* 로우 영역 */
.row {
  padding: 0 24px;
}

/* 헤더 영역 */
.header {
}
.header h1 {
  float: left;
}
.header h2 {
  padding: 0px 8px 5px 0;
  display: inline-block;
  width: 500px;
  font-size: 45px;
}
.header h3 {
  display: block;
  position: absolute;
  left: 194px;
  top: 30px;
  width: 200px;
  font-size: 20px;
}
.header .nav {
  float: right;
}
.header .nav ul {
  border-left: 1px solid #c6c6c6;
}
.header .nav ul li {
  float: left;
  width: 170px;
  text-align: center;
  border-right: 1px solid #c6c6c6;
}
.header .nav ul li a {
  display: block;
  padding: 19px 10px;
  font-size: 17px;
  font-weight: 700;
  color: #444;
}
/* 슬라이드 영역 */
.outer {
  border: none;
  width: 900px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 150px;
  left: 120px;
}

.inner-list {
  transition: 0.3s ease-out;
  height: 100%;
}

.inner {
  border: none;
  display: flex;
  float: left;
}
.button-left {
  position: absolute;
  top: 50%;
  left: 2%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 25px;
  color: white;
  opacity: 70%;
}
.button-right {
  position: absolute;
  top: 50%;
  left: 93%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 25px;
  color: white;
  opacity: 70%;
}
.first img {
  width: 450px;
  height: 450px;
}
.first .about {
  width: 450px;
  height: 450px;
  line-height: 200px;
  background-color: rgb(0, 0, 50);
  color: white;
  text-align: center;
  float: right;
}
.first .about h3 {
  font-size: 30px;
}
.first .about p {
  line-height: 30px;
  font-size: 15px;
}
.second img {
  width: 450px;
  height: 450px;
}
.second .about {
  width: 450px;
  height: 450px;
  line-height: 200px;
  background-color: rgb(0, 0, 50);
  color: white;
  text-align: center;
  float: right;
}
.second .about h3 {
  font-size: 30px;
}
.second .about p {
  line-height: 30px;
  font-size: 15px;
}
.third img {
  width: 450px;
  height: 450px;
}
.third .about {
  width: 450px;
  height: 450px;
  line-height: 200px;
  background-color: rgb(0, 0, 50);
  color: white;
  text-align: center;
  float: right;
}
.third .about h3 {
  font-size: 30px;
}
.third .about p {
  line-height: 30px;
  font-size: 15px;
}
/* 차트 영역 */
.mini {
  position: absolute;
  top: 110px;
  right: 270px;
}
#track caption {
  font-size: 20px;
  color: rgb(0, 0, 50);
}
#track {
  border-collapse: collapse;
  font-size: 15px;
  margin-left: 250px;
  float: left;
  z-index: -2;
}
#track th {
  padding: 10px;
  color: rgb(0, 0, 50);
  border-bottom: 3px solid #168;
  text-align: left;
}
#track td {
  color: #669;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
#track tr:hover td {
  color: #004;
}
footer {
  position: absolute;
  width: 100%;
  top: 150%;
  font-size: 20px;
  line-height: 30px;
  background-color: rgb(0, 0, 50);
  color: white;
}
.figure1 {
  position: absolute;
  width: 25%;
  height: 55%;
  top: 80%;
  font-size: 18px;
  color: white;
  line-height: 40px;
  box-shadow: 21px 20px 0px 0px rgba(0, 0, 50, 0.5);
  left: 120px;
  border-radius: 15px;
  background-image: url("https://visla.kr/wp/wp-content/uploads/2021/03/20210313-00.jpg");
  background-size: cover;
}
.text {
  margin: 30px 20px 0px 20px;
}
.figure2 {
  position: absolute;
  width: 25%;
  height: 55%;
  top: 80%;
  font-size: 18px;
  color: white;
  line-height: 40px;
  box-shadow: 21px 20px 0px 0px rgba(0, 0, 50, 0.5);
  left: 650px;
  border-radius: 15px;
  background-image: url("https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.pinimg.com%2F736x%2F3c%2F37%2F7b%2F3c377b161e1be46d25c86c0c2feb6b45.jpg&type=sc960_832");
  background-size: cover;
}
.figure3 {
  position: absolute;
  width: 25%;
  height: 55%;
  top: 80%;
  font-size: 18px;
  color: white;
  line-height: 40px;
  box-shadow: 21px 20px 0px 0px rgba(0, 0, 50, 0.5);
  left: 1180px;
  border-radius: 15px;
  background-image: url("https://w.namu.la/s/b9ded791a9c4fae989816ea531c993e1ebab2a9854e48c1714482874057ec5df1aed6ba49759ffa07771288735c60ff1d9539b2e62528a017c5e2d5f9c16ce2eeed98cd35906a1b0c5cc92964bf011df3815619a7d10870603934f08298c09b05602e3f3a686e96f63bdce68c4ab1cf0");
  background-size: cover;
}
